.footer {
  width: 100%;
  height: 16rem;
  border-top: 1px solid #d9d9d9;
  padding-top: 4.4rem;
  padding-bottom: 5.2rem;
  margin-top: 10px;
}

.nav {
  width: 100%;
  max-width: 1288px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.fnb {
  display: flex;
  padding-left: 1.6rem;
}

.logo {
  width: 13.6rem;
  height: 5.6rem;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  margin-right: 1.2rem;
}

.siteMap > ul {
  display: flex;
  justify-content: flex-start;
}

.siteMap > ul > li > a {
  font-size: 1.4rem;
  color: #666666;
  margin-right: 1.6rem;
}

.privacy a {
  color: #000 !important;
}

.content {
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.9rem;
  color: #666666;
  margin-top: 0.6rem;
}

.contact {
  display: flex;
}

.email {
  margin-left: 1.6rem;
}

.instagram,
.email {
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
}
