.header {
  width: 100%;
  height: auto;
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  z-index: -1;
}

.nav {
  width: 100%;
  max-width: 1256px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

/* left menu */

.leftMenu {
  display: flex;
}

.logo {
  width: 16rem;
  height: 8rem;
  display: block;
}

.gnb {
  display: flex;
  align-items: flex-end;
}

.gnb li {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: Noto Sans KR, sans-serif;
  line-height: 2.606rem;
  padding-bottom: 4px;
  margin-left: 3rem;
}

/* right menu */

.rightMenu {
  width: 40.8rem;
  transition: all 0.3s;
}

/* login menu */

.loginMenu {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
}

.loginMenu li {
  font-size: 1.6rem;
  font-family: "Noto Sans KR";
  font-weight: 500;
  line-height: 2.317rem;
  text-align: center;
}

/* login menu - before login */

.signUp {
  padding-left: 3.2rem;
  padding-right: 1.2rem;
}

/* login menu - after login */

.logOut {
  line-height: 23.17px;
}

.myLikeList,
.myPage {
  width: 2.4rem;
  height: 2.4rem;
}

.myLikeList {
  margin-left: 5rem;
  margin-right: 2rem;
}

/* responsive */

/* tablet */
@media only screen and (max-width: 768px) {
  .rightMenu {
    width: 32.485%;
  }
}

/* mobile */
@media only screen and (max-width: 480px) {
}
